.App {
  text-align: left;
  margin-left: 10%;

 
}
.but{
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 30px;
  color: #fff;
  padding: 20px;


}
.songsUI{
  background-color: black;
  width: 93%;
  height: auto;
  border-radius: 5px;
  padding:5px;
  margin-bottom: 10px;
  margin-left: 0px;
}
.plName{
  color: #fff;
  text-align: left;
  margin-left: 10px;
  font-size: 40px;
}
.songList{
  text-align: left;
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
  list-style-type: none;
}
.ply{

  margin-bottom: 20px;
  margin-right: 20px;
  width: 185px;
  border-radius: 5px;
  display: inline-block;
  font-size: 0px;
  background-color: black;
}
.playlist{
  margin-right: 10px;
  display: inline-block;
}

.center{
  text-align: center;
  margin-right: 10%;
  margin-top: 15%;
}
.image{
  height: 180px;
  width: 180px;
  border-radius: 5px;
}

html, body {
  background-color: #404040;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.title{
  text-align: center;
  margin-right: 10%;
  font-size: 60px;
  color: #fff
}
h2{
  font-size: 30px;
  color: #fff
}
h3{
  width: 180px;
  text-align: center;
  color: #fff
}